<package-def>
	<class name="МенеджерОбработкиДанных" file="src/Классы/МенеджерОбработкиДанных.os"/>
	<class name="ОбозревательСайта1С" file="src/Классы/ОбозревательСайта1С.os"/>
	<module name="ПараметрыПриложения" file="src/Модули/ПараметрыПриложения.os"/>
	<module name="Распаковщик" file="src/Модули/Распаковщик.os"/>
</package-def>