<package-def>
	<class name="МенеджерОбработкиДанных" file="src/Классы/МенеджерОбработкиДанных.os"/>
	<class name="ОбозревательСайта1С" file="src/Классы/ОбозревательСайта1С.os"/>
	<class name="Релизы1С" file="src/Классы/Релизы1С.os"/>
	<class name="СписокРелизов1С" file="src/Классы/СписокРелизов1С.os"/>
	<class name="ЗагрузчикРелизов1С" file="src/Классы/ЗагрузчикРелизов1С.os"/>
	<class name="РаспаковщикРелизов1С" file="src/Классы/РаспаковщикРелизов1С.os"/>
	<class name="РаспаковщикКаталогаРелизов1С" file="src/Классы/РаспаковщикКаталогаРелизов1С.os"/>
	<class name="СборщикКонфигураций1С" file="src/Классы/СборщикКонфигураций1С.os"/>
	<class name="СборщикКонфигураций1СВКаталоге" file="src/Классы/СборщикКонфигураций1СВКаталоге.os"/>
	<class name="ВыгрузкаКонфигурацииВГит" file="src/Классы/ВыгрузкаКонфигурацииВГит.os"/>
	<class name="ВыгрузкаКаталогаКонфигурацииВГит" file="src/Классы/ВыгрузкаКаталогаКонфигурацииВГит.os"/>
	<module name="Служебный" file="src/Модули/Служебный.os"/>
	<module name="Перечисления" file="src/Модули/Перечисления.os"/>
	<module name="ПараметрыОбработчиков" file="src/Модули/ПараметрыОбработчиков.os"/>
	<module name="ПараметрыПриложения" file="src/Модули/ПараметрыПриложения.os"/>
	<module name="Распаковщик" file="src/Модули/Распаковщик.os"/>
</package-def>