<package-def>
	<class name="МенеджерОбработкиДанных" file="Классы/МенеджерОбработкиДанных.os"/>
	<module name="ПараметрыПриложения" file="Модули/ПараметрыПриложения.os"/>
	<module name="РаботаССайтом1С" file="Модули/РаботаССайтом1С.os"/>
	<module name="Распаковщик" file="Модули/Распаковщик.os"/>
</package-def>