<package-def>
	<class name="МенеджерОбработкиДанных" file="Классы/МенеджерОбработкиДанных.os"/>
	<class name="ОбозревательСайта1С" file="Классы/ОбозревательСайта1С.os"/>
	<module name="ПараметрыПриложения" file="Модули/ПараметрыПриложения.os"/>
	<module name="Распаковщик" file="Модули/Распаковщик.os"/>
</package-def>