<package-def>
	<class name="МенеджерОбработкиДанных" file="Классы/МенеджерОбработкиДанных.os"/>
	<class name="ОбозревательСайта1С" file="Классы/ОбозревательСайта1С.os"/>
	<class name="Релизы1С" file="Классы/Релизы1С.os"/>
	<class name="СписокРелизов1С" file="Классы/СписокРелизов1С.os"/>
	<class name="ЗагрузчикРелизов1С" file="Классы/ЗагрузчикРелизов1С.os"/>
	<class name="РаспаковщикРелизов1С" file="Классы/РаспаковщикРелизов1С.os"/>
	<class name="СборщикКонфигураций1С" file="Классы/СборщикКонфигураций1С.os"/>
	<class name="СборщикКонфигураций1СВКаталоге" file="Классы/СборщикКонфигураций1СВКаталоге.os"/>
	<class name="ВыгрузкаКонфигурацииВГит" file="Классы/ВыгрузкаКонфигурацииВГит.os"/>
	<class name="ВыгрузкаКаталогаКонфигурацииВГит" file="Классы/ВыгрузкаКаталогаКонфигурацииВГит.os"/>
	<class name="КомандаТест" file="Классы/КомандаТест.os"/>
	<module name="Перечисления" file="Модули/Перечисления.os"/>
	<module name="ПараметрыПриложения" file="Модули/ПараметрыПриложения.os"/>
	<module name="Распаковщик" file="Модули/Распаковщик.os"/>
</package-def>